wheel
pathlib
python-dotenv
flask
Flask-Script
flask-restplus
werkzeug~=0.16.1
flask-mongoengine
#git+git://github.com/Guya-LTD/python-logstash.git#egg=python-logstash
https://github.com/Guya-LTD/python-logstash/archive/master.zip